<div class="navbar-fixed">

    <nav>
        <div class="nav-wrapper red darken-4">
            <a href="{{path('show_employees')}}" class="brand-logo"><img src="https://fsd.rs/assets/images/fsd-logo-w-opt.svg" alt="logo"></a>
            <ul class="right hide-on-med-and-down nav_l">
                <li><a href="{{path('show_employees')}}">Employees</a></li>
            </ul>
        </div>
    </nav>
</div>